@model IEnumerable<BSDKhulna.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "UserIndex";
}
<div class="container panel" style="color:black">
    <h2>Software User</h2>

    <p class="margin-smalla">
        @using (Html.BeginForm("Register", "Account", null, FormMethod.Get, new { id = "registerLink" }))
        {
            @Html.AntiForgeryToken()
            <button name="button" value="ActionOne" class="btn btn-danger">
                Create New User
            </button>
        }
    </p>


    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("User Name")
                </th>
                <th>
                    @Html.DisplayName("Role")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>


                    <td>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("Delete", "Register",new { id=item.Id })';return false;">Delete</button>
                    </td>
                </tr>
            }

        </table>
    </div>
    <br />

</div>