@model BSDKhulna.Models.GeneralNoticeModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "GeneralNoticeDelete";
}

<h3 style="font-weight:bold;color:turquoise;text-align:center">General Notice Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfNotice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionOfNotice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeDownloadUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeDownloadUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
