@model IEnumerable<BSDKhulna.Models.GeneralNoticeModels>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "GeneralNoticeIndex";
}
<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
@section Scripts{
    <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
    </script>
}

<h3 style="font-weight:bold;color:darkblue;text-align:center">View General Notice</h3>


<input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search for Notice.." title="Type in a name">
<table id="myTable" style="font-size:medium;font-family:'Times New Roman', Times, serif" class="myTable table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Description Of Notice")
        </th>
        <th>
            @Html.DisplayName("Notice")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfNotice)
            </td>
            @if (item.NoticeDownloadUrl != null)
            {
                <td>
                    <a href="@Url.Content(item.NoticeDownloadUrl)" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i> </a>
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
