@model BSDKhulna.Models.ProcurementAndTenderModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Record?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.LetterNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
