@model IEnumerable<BSDKhulna.Models.ProcurementAndTenderModels>
<style>
    * {
        box-sizing: border-box;
    }

    #myInput,#myInput,#myInput3,#myInput4 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable,#myTable2,#myTable3,#myTable4 {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable,#myTable2,#myTable3,#myTable4 th, #myTable,#myTable2,#myTable3,#myTable4 td {
            text-align: left;
            padding: 12px;
        }

        #myTable,#myTable2,#myTable3,#myTable4 tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable,#myTable2,#myTable3,#myTable4 tr.header, #myTable,#myTable2,#myTable3,#myTable4 tr:hover {
                background-color: #f1f1f1;
            }
</style>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: false
            });

            $("#Pending").show(); $("#SendForUser").hide(); $("#NotAccepted").hide();$("#Accepted").hide();

            $("#btnPending").click(function () {
                $("#Pending").show(); $("#SendForUser").hide(); $("#NotAccepted").hide(); $("#Accepted").hide();
            });
            $("#btnSendForUser").click(function () {
                $("#Pending").hide(); $("#SendForUser").show(); $("#NotAccepted").hide(); $("#Accepted").hide();
            });
            $("#btnNotAccpted").click(function () {
                $("#Pending").hide(); $("#SendForUser").hide(); $("#NotAccepted").show(); $("#Accepted").hide();
            });
            $("#btnAccpted").click(function () {
                $("#Pending").hide(); $("#SendForUser").hide(); $("#NotAccepted").hide(); $("#Accepted").show();
            });
        });

    
    </script>
    <script>
          $(document).ready(function(){
              $('#myTable').dataTable();
          });

          function myFunction() {
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
          }
          function myFunction2() {
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput2");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable2");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) {
                  td = tr[i].getElementsByTagName("td")[0];
                  if (td) {
                      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                      } else {
                          tr[i].style.display = "none";
                      }
                  }
              }
          }
          function myFunction3() {
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput3");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable3");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) {
                  td = tr[i].getElementsByTagName("td")[0];
                  if (td) {
                      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                      } else {
                          tr[i].style.display = "none";
                      }
                  }
              }
          }
          function myFunction4() {
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput4");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable4");
              tr = table.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) {
                  td = tr[i].getElementsByTagName("td")[0];
                  if (td) {
                      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                      } else {
                          tr[i].style.display = "none";
                      }
                  }
              }
          }
    </script>
    <script type="text/javascript">
            function printDiv(divName) {
                var x = document.getElementById("myInput");
                x.style.display = "none";
                var x = document.getElementById("btng");
                x.style.display = "none";

                x = document.getElementsByClassName("visi2");

                for (var i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }


                document.getElementById("print").style.display = "none";
                window.print();
            }
            function printDiv2(divName) {
                var x = document.getElementById("myInput2");
                x.style.display = "none";
                var x = document.getElementById("btng");
                x.style.display = "none";
               x = document.getElementsByClassName("visi22");
                for (var i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                document.getElementById("print2").style.display = "none";
                window.print();
            }
            function printDiv3(divName) {
                var x = document.getElementById("myInput3");
                x.style.display = "none";
                var x = document.getElementById("btng");
                x.style.display = "none";
                x = document.getElementsByClassName("visi23");
                for (var i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                document.getElementById("print3").style.display = "none";
                window.print();
            }
            function printDiv4(divName) {
                var x = document.getElementById("myInput4");
                x.style.display = "none";
                var x = document.getElementById("btng");
                x.style.display = "none";
                x = document.getElementsByClassName("visi24");
                for (var i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                document.getElementById("print4").style.display = "none";
                window.print();
            }
    </script>
 }


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Inspected Result";
}
<h3 style="font-weight:bold;color:darkblue;text-align:center">NSD Khulna</h3>
<h3 style="font-weight:bold;color:darkblue;text-align:center">Result after Inspection</h3>
<br />
<div class="btn-group" id="btng">
    <button type="button" id="btnPending" name="btnPending" class="btn btn-primary">Pending</button>
    <button type="button" id="btnSendForUser" name="btnSendForUser" class="btn btn-primary">Send For User</button>
    <button type="button" id="btnNotAccpted" name="btnNotAccpted" class="btn btn-primary">Not Accepted</button>
    <button type="button" id="btnAccpted" name="btnAccpted" class="btn btn-primary">Accepted</button>
</div>
<br /><br />

<fieldset id="Pending">
    <legend>Pending </legend>
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search .." title="Search....">
    <br />
    <table id="myTable" style="font-size:small;font-family:'Times New Roman', Times, serif" class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LetterNo)
            </th>
            <th>
                @Html.DisplayName("Purchase Order No")
            </th>
            <th>
                @Html.DisplayName("CRNo")
            </th>
            <th>
                @Html.DisplayName("Description of Items")
            </th>
            <th>
                @Html.DisplayName("Date of Recieving")
            </th>
            <th>
                @Html.DisplayName("Supplier")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CINSDisposal == "Pending")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LetterNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRPurchaseOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CINSDateOfRecieving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfTheSupplier)
                    </td>
                    <td class="visi2">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </table>
    <center>
        <button class="btn btn-primary hidden-print" id="print" onclick="printDiv('printableArea')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
    </center>
</fieldset>

<fieldset id="SendForUser">
    <legend>Send For User</legend>
    <input type="text" id="myInput2" class="form-control" onkeyup="myFunction2()" placeholder="Search .." title="Search....">
    <br />
    <table id="myTable2" style="font-size:small;font-family:'Times New Roman', Times, serif" class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LetterNo)
            </th>
            <th>
                @Html.DisplayName("Purchase Order No")
            </th>
            <th>
                @Html.DisplayName("CRNo")
            </th>
            <th>
                @Html.DisplayName("Description of Items")
            </th>
            <th>
                @Html.DisplayName("Date of Recieving")
            </th>
            <th>
                @Html.DisplayName("Supplier")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CINSDisposal == "Send For User")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LetterNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRPurchaseOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CINSDateOfRecieving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfTheSupplier)
                    </td>
                    <td class="visi22">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </table>
    <center>
        <button class="btn btn-primary hidden-print" id="print2" onclick="printDiv2('printableArea')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
    </center>
</fieldset>

<fieldset id="NotAccepted">
    <legend>Not Accepted</legend>
    <input type="text" id="myInput3" class="form-control" onkeyup="myFunction3()" placeholder="Search .." title="Search....">
    <br />
    <table id="myTable3" style="font-size:small;font-family:'Times New Roman', Times, serif" class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LetterNo)
            </th>
            <th>
                @Html.DisplayName("Purchase Order No")
            </th>
            <th>
                @Html.DisplayName("CRNo")
            </th>
            <th>
                @Html.DisplayName("Description of Items")
            </th>
            <th>
                @Html.DisplayName("Date of Recieving")
            </th>
            <th>
                @Html.DisplayName("Supplier")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CINSDisposal == "Not Accepted")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LetterNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRPurchaseOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CINSDateOfRecieving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfTheSupplier)
                    </td>
                    <td class="visi23">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </table>
    <center>
        <button class="btn btn-primary hidden-print" id="print3" onclick="printDiv3('printableArea')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
    </center>
</fieldset>

<fieldset id="Accepted">
    <legend>Accepted</legend>
    <input type="text" id="myInput4" class="form-control" onkeyup="myFunction4()" placeholder="Search .." title="Search....">
    <br />
    <table id="myTable4" style="font-size:small;font-family:'Times New Roman', Times, serif" class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LetterNo)
            </th>
            <th>
                @Html.DisplayName("Purchase Order No")
            </th>
            <th>
                @Html.DisplayName("CRNo")
            </th>
            <th>
                @Html.DisplayName("Description of Items")
            </th>
            <th>
                @Html.DisplayName("Date of Recieving")
            </th>
            <th>
                @Html.DisplayName("Supplier")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CINSDisposal == "Accepted")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LetterNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRPurchaseOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CINSDateOfRecieving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfTheSupplier)
                    </td>
                    <td class="visi24">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </table>
    <center>
        <button class="btn btn-primary hidden-print" id="print4" onclick="printDiv4('printableArea')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
    </center>
</fieldset>

