@using BSDKhulna.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    input, select, textarea {
        max-width: 580px;
    }

    .maxi {
        max-width: 100%;
    }

    #button {
        border: 1px solid #ccc;
        margin-top: 28px;
        padding: 6px 12px;
        color: #666;
        text-shadow: 0 1px #fff;
        cursor: pointer;
        -moz-border-radius: 3px 3px;
        -webkit-border-radius: 3px 3px;
        border-radius: 3px 3px;
        -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        box-shadow: 0 1px #fff inset, 0 1px #ddd;
        background: #f5f5f5;
        background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
        background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
    }
</style>

<div class="row">
    <div class="col-md-12" >
        <fieldset style="border:solid 1px #064579 !important;height:200px">
            <div class="col-md-12" style="background-color:whitesmoke;">
                <br/>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12 input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })

                        </div>
                        <br />
                        <div class="col-md-12 input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group" hidden>
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div style="padding-left:70px">
                                <input type="submit" value="Log In" class="button form-control button  login-button" style="max-width:100%;width:510px;color:navy;font-family:Arial, Helvetica, sans-serif;font-weight:bolder;font-size:larger" />

                            </div>
                        </div>

                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }
                </section>
            </div>
          </fieldset>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}