@model BSDKhulna.Models.CashPPCModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Details";
}

<h3 style="font-weight:bold;color:darkblue;text-align:center">Details of PPC Copy Form</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionOfItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfTheFirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfTheFirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPCDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPCDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

